html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

@font-face {
  font-family: 'Valorant';
  src: url("../fonts/VALORANT-Regular.woff") format("woff");
}
@font-face {
  font-family: 'SourceCode';
  src: url("../fonts/SourceCode.ttf") format("truetype");
}

.valorant {
  font-family: 'Valorant';
}
.source-code {
  font-family: 'SourceCode', Monospace;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: top left;
}

.active span:nth-child(2) {
  transform: scale(0);
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.cz-background {
  background-image: url('../img/render.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#start-content > div:nth-child(3) {
  flex-grow: 2;
}